# Dawid Ferenczy 2014
# http://github.com/ferenczy/dotfiles

# .aliases: Common aliases shared between shells

# interactive operation...
alias rm='rm -I'    # prompt before removing more than 3 files or recursive
alias cp='cp -i'
alias mv='mv -i'

# default to human readable figures
alias df='df -h'
alias du='du -h'
alias duf='du -s *'
alias dud='du --max-depth=1'

# misc
alias less='less -r --LINE-NUMBERS'         # raw control characters, show line numbers
alias whence='type -a'                      # where, of a sort

# enable color support
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"

    alias grep='grep --color=auto'          # show differences in colour
    alias egrep='egrep --color=auto'        # show differences in colour
    alias fgrep='fgrep --color=auto'        # show differences in colour

    alias ls='ls -hF --color=auto'          # all listings in color, classified, human readable
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'
else
    alias ls='ls -hF'                       # classified, human readable
fi

# some shortcuts for different directory listings
alias ll='ls -l'          # long list
alias la='ls -lA'         # long list, show almost all
alias lr='ls -tR'         # sort by date, recursive
alias lt='ls -lt'         # long list, sorted by date (newest first)
alias lart='ls -1cart'    # sort by date (oldest first), show all
alias lrt='ls -1crt'      # sort by date (oldest first)
alias ldot='ls -ld .*'
alias lS='ls -1Ss'        # sort by size

# find
alias fd='find . -type d -name'     # find directory
alias ff='find . -type f -name'     # find file

# directory up shortcuts
alias ..='cd ../'
alias ...='cd ../../'

# safety
alias rm='rm --preserve-root'       # do not delete /

# forbid permissions change on /
alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'

# calendar - defaults to print 3 months with week starting by Monday
alias cal='cal -3m'
